<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.5.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.TeamFoundation.DistributedTask.Common.Contracts" version="15.131.1" targetFramework="net452" />
  <package id="Microsoft.TeamFoundationServer.Client" version="15.131.1" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Services.Client" version="15.131.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="SharpSvn.1.9-x86" version="1.9007.3987.251" targetFramework="net452" />
</packages>